* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #070707;

}

/************************************************************************************/
/************************************ Handling Logo and Navigation ******************/
/************************************************************************************/

.portfolio--nav {
    width: 100%;
    background: #070707;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all ease-in-out 0.4s;
}

.portfolio--nav--container-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio--nav-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

.portfolio--nav-logo {
    color: white;
    font-size: 40px;
    /*margin-left: 40px;*/
}

.portfolio--nav-logo a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.portfolio--nav-burger {
    display: flex;
    flex-direction: column;
    /*margin-right: 40px;*/
    cursor: pointer;
}

.portfolio--nav-burger div {
    width: 25px;
    height: 2px;
    color: white;
    background: white;
    margin-bottom: 5px;
}

.portfolio--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
    transform: translateX(100%);
    transition: all ease-in-out 0.7s;
    cursor: pointer;
    z-index: 2000;
    /*display: none;*/
}

.portfolio--sidebar {
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    border: 1px solid lightgray;
    transition: all ease-in-out 0.7s;
    z-index: 2001;

}

.portfolio--nav-sidebar {
    background: white;
    color: black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio--nav-sidebar > .portfolio--nav-logo {
    margin-left: 20px;
}

.portfolio--nav-sidebar > * {
    color: black;
}

.portfolio--nav-exit {
    margin-right: 40px;
    cursor: pointer;
}

.portfolio--nav-exit-circle {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio--nav-exit-circle > div {
    width: 15px;
    height: 1px;
    background: black;
    position: absolute;

}

.portfolio--nav-exit-circle > div:first-child{
    transform: rotate(45deg);
}

.portfolio--nav-exit-circle > div:last-child {
    transform: rotate(135deg);
}

.portfolio--show {
    transform: translateX(0);
}

.sticky {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 60px;
    background: #111;
    width: 100%;
}

@media (min-width: 700px) {
    .portfolio--nav-container {
        width: 80%;
        padding-left: 0;
        padding-right: 0;
    }

    .portfolio--sidebar {
        width: 300px;
    }
}


/***********************************************************************************/
/***************************** Handling About section ******************************/
/***********************************************************************************/

.portfolio--about {
    width: 100%;
    height: auto;
    background: #070707;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 5;
}

.portfolio--about-header {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    color: white;
}

.portfolio--about-header span:first-child {
    color: #5FF3D1;
}

.portfolio--about-header span:last-child {
    color: burlywood;
    font-weight: bold;
    font-size: 120%;
}

.portfolio--about-info {
    font-family: "Zilla Slab", serif;
    color: white;
    font-size: 100%;
    width: 100%;
    height: 100%;
    text-align: left;
}

.portfolio--about-info > * {
    margin-bottom: 20px;
}

.portfolio--about-info-greeting {
    color: aqua;

}

.portfolio--about-resume {
    width: 200px;
    height: 50px;
    background: inherit;
    border: 1px solid #5FF3D1;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.portfolio--about-resume:hover {
    background: #133040;
}

.portfolio--about-resume a {
    text-decoration: none;
    color: #5FF3D1;
    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px) {
    .portfolio--about {
        padding-right: 0;
        padding-left: 0;
    }

    .portfolio--about-header {
        width: 80%;
    }
    .portfolio--about-info {
        width: 80%;
        font-size: 200%;
    }
}


/****************************************************************************/
/************************** Handling Skills Section *************************/
/****************************************************************************/
.portfolio--skills {
    width: 100%;
    background: #070707;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.portfolio--skills * {
    font-style: italic;
    font-family: "Zilla Slab", serif;
    color: white;
}

.portfolio--skills-header {
    margin-bottom: 30px;
    width: 100%;
}

.portfolio--skills-header span:first-child {
    color: #5FF3D1;
}

.portfolio--skills-header span:last-child {
    color: burlywood;
    font-weight: bold;
    font-size: 120%;
}

.portfolio--skills-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}

.portfolio--skills-skill {
    width: 50%;
    font-size: 120%;
    color: lightgreen;
    font-weight: lighter;
    font-family: "Zilla Slab", serif;
    margin-bottom: 20px;
}

.portfolio--skills-skill span {
    background: #070707;
    margin-right: 5px;
    color: #5FF3D1;
}

@media (min-width: 700px) {
    .portfolio--skills {
        padding-right: 0;
        padding-left: 0;
    }
    .portfolio--skills-header {
        width: 80%;
    }
    .portfolio--skills-container {
        width: 80%;
    }
}


/*************************************************************************************/
/************************** Handling the Projects section ****************************/
/*************************************************************************************/
.portfolio--projects {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.portfolio--projects * {
    font-style: italic;
    font-family: "Zilla Slab", serif;
    color: white;
}

.portfolio--projects-header {
    width: 100%;
    margin-bottom: 30px;
}

.portfolio--projects-header span:first-child {
    color: #5FF3D1;
}

.portfolio--projects-header span:last-child {
    color: burlywood;
    font-weight: bold;
    font-size: 120%;
}

.portfolio--projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
    justify-content: space-around;
}

.portfolio--projects-project {
    background: #133040;
    width: 47%;
    margin-bottom: 20px;
    padding: 15px;
    height: 300px;
    border-radius: 10px;
}

.portfolio--projects-project a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio--projects-project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio--projects-project-header  i {
    /*color: #111111;*/
    /*border: 1px solid lightgreen;*/
    color: #5FF3D1;
    font-size: 25px;
}

.portfolio--projects-project-desc * {
    margin-bottom: 20px;
}

.portfolio--projects-project-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio--projects-project-footer * {
    margin-right: 5px;

}

@media (min-width: 700px) {
    .portfolio--projects {
        padding-right: 0;
        padding-left: 0;
    }

    .portfolio--projects-header {
        width: 80%;
    }

    .portfolio--projects-container {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .portfolio--projects-project {
        width: 30%;

    }
}

@media (max-width: 500px) {
    .portfolio--projects-project {
        width: 100%;
    }
}
